body {
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 600px) {
    #txt {
        max-width: 350px;
        max-height: 800px;
    }
}

#txt {
    min-width: 300px;
    min-height: 100px;
    flex: 1;
}

.text-around {
    border: 1px solid brown;
    display: flex;
}
.imbedded {
    border: 1px solid gray;
    height: 50px;
    width: 200px;
    color: lightgray;
}
form {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    justify-content: center;
    /* align-items: center; */
}