body {
    display: flex;
    border: 1px solid green;
    justify-content: center;
    /* background-color: black; */
    gap: 2em;
}

#txt {
    min-width: 300px;
    min-height: 100px;
    flex: 1;
}

.text-around {
    border: 1px solid brown;
    display: flex;
}
#create {
    flex: 0;
}

